@import 'tailwindcss';

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  
  * {
    font-family: var(--font-prompt), 'Prompt', sans-serif;
  }
  
  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-prompt), 'Prompt', sans-serif;
  }
}
